In [47]:
# Importing libraries
import pandas as pd
import numpy as np

import time

df = pd.read_csv('brfss_for_bda_2021.csv', skipinitialspace = True)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (183,378) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [48]:
# Dropping useless columns

df.drop(df.columns.difference(['SMOKDAY2','MARITAL','GENHLTH', 'SEX', 'AGE']), 1, inplace=True)

In [49]:
# Breakdown of column AGE
df['AGE'].value_counts()

Age 65 or older        4031
Age 55 - 64            2559
Age 45 - 54            2150
Age 35 - 44            1471
Age 25 - 34            1273
Age 18 - 24             657
Refused                 186
Don't know/Not sure      11
Name: AGE, dtype: int64

In [50]:
# Cleaning AGE
valid_set = set(["Don't know/Not sure", "Refused"])
df.loc[df.AGE.isin(valid_set), 'AGE'] = np.NaN

# Check that cleaned properly
df['AGE'].value_counts()

Age 65 or older    4031
Age 55 - 64        2559
Age 45 - 54        2150
Age 35 - 44        1471
Age 25 - 34        1273
Age 18 - 24         657
Name: AGE, dtype: int64

In [51]:
# Breakdown of column SMOKDAY2
df['SMOKDAY2'].value_counts()

Not asked or Missing    7269
Not at all              3472
Every day               1075
Some days                495
Refused                   24
Don´t Know/Not Sure        3
Name: SMOKDAY2, dtype: int64

In [52]:
# Cleaning SMOKDAY2
valid_set = set(["Not asked or Missing", "Refused", "Don´t Know/Not Sure"])
df.loc[df.SMOKDAY2.isin(valid_set), 'SMOKDAY2'] = np.NaN

# Check that cleaned properly
df['SMOKDAY2'].value_counts()

Not at all    3472
Every day     1075
Some days      495
Name: SMOKDAY2, dtype: int64

In [53]:
# Breakdown of column MARITAL
df['MARITAL'].value_counts()

Married                            5742
Never married                      2538
Divorced                           1567
Widowed                            1505
Separated                           424
A member of an unmarried couple     408
Refused                             154
Name: MARITAL, dtype: int64

In [54]:
# Cleaning MARITAL
valid_set = set(["Refused"])
df.loc[df.MARITAL.isin(valid_set), 'MARITAL'] = np.NaN

# Check that cleaned properly
df['MARITAL'].value_counts()

Married                            5742
Never married                      2538
Divorced                           1567
Widowed                            1505
Separated                           424
A member of an unmarried couple     408
Name: MARITAL, dtype: int64

In [55]:
# Breakdown of column GENHLTH
df['GENHLTH'].value_counts()

Very good              4063
Good                   3838
Excellent              2236
Fair                   1536
Poor                    600
Refused                  46
Don't know/Not Sure      19
Name: GENHLTH, dtype: int64

In [56]:
# Cleaning GENHLTH
valid_set = set(["Refused", "Don't know/Not Sure"])
df.loc[df.GENHLTH.isin(valid_set), 'GENHLTH'] = np.NaN

# Check that cleaned properly
df['GENHLTH'].value_counts()

Very good    4063
Good         3838
Excellent    2236
Fair         1536
Poor          600
Name: GENHLTH, dtype: int64

In [57]:
# Filter and delete by age
df = df.loc[df['AGE'].isin(['Age 45 - 54', 'Age 35 - 44'])]

df

,GENHLTH,SEX,AGE,MARITAL,SMOKDAY2
1,Good,Female,Age 45 - 54,Separated,NaN
5,Good,Female,Age 35 - 44,Never married,Some days
7,Very good,Male,Age 35 - 44,Divorced,Some days
8,Good,Male,Age 35 - 44,Married,NaN
14,Excellent,Male,Age 35 - 44,Married,NaN
...,...,...,...,...,...
12319,Excellent,Female,Age 35 - 44,Married,NaN
12321,Good,Male,Age 35 - 44,Married,Not at all
12326,Good,Male,Age 35 - 44,NaN,NaN
12330,Excellent,Male,Age 35 - 44,Married,Not at all
12332,Excellent,Female,Age 35 - 44,A member of an unmarried couple,NaN

In [58]:
# Filter and delete by sex
df = df.loc[df['SEX'].isin(['Male'])]

df

,GENHLTH,SEX,AGE,MARITAL,SMOKDAY2
7,Very good,Male,Age 35 - 44,Divorced,Some days
8,Good,Male,Age 35 - 44,Married,NaN
14,Excellent,Male,Age 35 - 44,Married,NaN
31,Very good,Male,Age 35 - 44,A member of an unmarried couple,Not at all
37,Very good,Male,Age 35 - 44,Married,NaN
...,...,...,...,...,...
12309,Very good,Male,Age 35 - 44,Divorced,NaN
12315,Fair,Male,Age 35 - 44,Married,NaN
12321,Good,Male,Age 35 - 44,Married,Not at all
12326,Good,Male,Age 35 - 44,NaN,NaN
12330,Excellent,Male,Age 35 - 44,Married,Not at all

In [59]:
# Removing filtering values

df.drop(['SEX'], axis=1, inplace=True)
df.drop(['AGE'], axis=1, inplace=True)

df

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

         GENHLTH                          MARITAL    SMOKDAY2
7      Very good                         Divorced   Some days
8           Good                          Married         NaN
14     Excellent                          Married         NaN
31     Very good  A member of an unmarried couple  Not at all
37     Very good                          Married         NaN
...          ...                              ...         ...
12309  Very good                         Divorced         NaN
12315       Fair                          Married         NaN
12321       Good                          Married  Not at all
12326       Good                              NaN         NaN
12330  Excellent                          Married  Not at all

[1501 rows x 3 columns]

In [60]:
# Counting null cells

df.isnull().sum()

GENHLTH       9
MARITAL      20
SMOKDAY2    910
dtype: int64

In [61]:
df.dropna(inplace = True)

df.isnull().sum()

<ipython-input-61-492ba375e115>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace = True)

GENHLTH     0
MARITAL     0
SMOKDAY2    0
dtype: int64

In [62]:
df

         GENHLTH                          MARITAL    SMOKDAY2
7      Very good                         Divorced   Some days
31     Very good  A member of an unmarried couple  Not at all
40     Very good                         Divorced  Not at all
48          Good                    Never married   Some days
54     Very good                          Widowed  Not at all
...          ...                              ...         ...
12260       Fair                    Never married   Every day
12271       Good                          Married   Every day
12274  Very good                          Married   Some days
12321       Good                          Married  Not at all
12330  Excellent                          Married  Not at all

[583 rows x 3 columns]

In [63]:
# Main part done. Considring extra options below

In [64]:
# Simplifying SMOKDAY2

# Replace by mapping in column SMOKDAY2
mapping = {'Not at all': "No",
           'Every day': "Yes",
           'Some days': "Yes"}
df.SMOKDAY2 = df.SMOKDAY2.map(mapping)

df['SMOKDAY2'].value_counts()

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:5494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

No     323
Yes    260
Name: SMOKDAY2, dtype: int64

In [65]:
# Simplifying MARITAL
mapping = {'Married': "Married",
           'Never married': "Never Married",
           'Divorced': "Previously Married",
           'Widowed': "Previously Married",
           'Separated': "Previously Married",
           'A member of an unmarried couple': "Unmarried Couple"}
df.MARITAL = df.MARITAL.map(mapping)

#Married                            5742
#Never married                      2538
#Divorced                           1567
#Widowed                            1505
#Separated                           424
#A member of an unmarried couple     408

df['MARITAL'].value_counts()

Married               315
Never Married         139
Previously Married    110
Unmarried Couple       19
Name: MARITAL, dtype: int64

In [66]:
# Simplifying GENHLTH
mapping = {'Poor': 'Poor',
           'Fair': 'Average',
           'Excellent': 'Good',
           'Good': 'Good',
           'Very good': 'Good'}
df.GENHLTH = df.GENHLTH.map(mapping)

df['GENHLTH'].value_counts()

Good       487
Average     64
Poor        32
Name: GENHLTH, dtype: int64

In [67]:
df.to_csv('RQ1 Cleaned.csv', index = False)