In [16]:
# Importing libraries
import pandas as pd
import numpy as np

import time

df = pd.read_csv('brfss_for_bda_2021.csv', skipinitialspace = True)

In [17]:
# Dropping useless columns

df.drop(df.columns.difference(['MENTHLTH','EXERANY2','INCOME2']), 1, inplace=True)

In [18]:
# Breakdown of column ADDEPEV2
df['MENTHLTH'].value_counts()

None                   8012
Number of days         4008
Refused                 204
Don't know/Not sure     114
Name: MENTHLTH, dtype: int64

In [19]:
# Cleaning ADDEPEV2
valid_set = set(["Don't know/Not sure", "Refused"])
df.loc[df.MENTHLTH.isin(valid_set), 'MENTHLTH'] = np.NaN

# Check that cleaned properly
df['MENTHLTH'].value_counts()

None              8012
Number of days    4008
Name: MENTHLTH, dtype: int64

In [20]:
# Breakdown of column EXERANY2
df['EXERANY2'].value_counts()

Yes                     7837
No                      3118
Not asked or Missing    1347
Refused                   25
Don't know/Not Sure       11
Name: EXERANY2, dtype: int64

In [21]:
# Cleaning EXERANY2
valid_set = set(["Not asked or Missing", "Refused", "Don't know/Not Sure"])
df.loc[df.EXERANY2.isin(valid_set), 'EXERANY2'] = np.NaN

# Check that cleaned properly
df['EXERANY2'].value_counts()

Yes    7837
No     3118
Name: EXERANY2, dtype: int64

In [22]:
# Breakdown of column INCOME2
df['INCOME2'].value_counts()

$75,000 or more                                     3715
Less than $75,000 ($50,000 to less than $75,000)    1557
Less than $50,000 ($35,000 to less than $50,000)    1226
Refused                                             1062
Less than $35,000 ($25,000 to less than $35,000)    1009
Less than $25,000 ($20,000 to less than $25,000)     870
Less than $20,000 ($15,000 to less than $20,000)     842
Don't know/Not sure                                  755
Less than $10,000                                    575
Less than $15,000 ($10,000 to less than $15,000)     547
Not asked or Missing                                 180
Name: INCOME2, dtype: int64

In [23]:
# Cleaning INCOME2
valid_set = set(["Not asked or Missing", "Don't know/Not sure", "Refused"])
df.loc[df.INCOME2.isin(valid_set), 'INCOME2'] = np.NaN

# Check that cleaned properly
df['INCOME2'].value_counts()

$75,000 or more                                     3715
Less than $75,000 ($50,000 to less than $75,000)    1557
Less than $50,000 ($35,000 to less than $50,000)    1226
Less than $35,000 ($25,000 to less than $35,000)    1009
Less than $25,000 ($20,000 to less than $25,000)     870
Less than $20,000 ($15,000 to less than $20,000)     842
Less than $10,000                                    575
Less than $15,000 ($10,000 to less than $15,000)     547
Name: INCOME2, dtype: int64

In [24]:
# Counting null cells

df.isnull().sum()

MENTHLTH     318
INCOME2     1997
EXERANY2    1383
dtype: int64

In [25]:
df.dropna(inplace = True)

df.isnull().sum()

MENTHLTH    0
INCOME2     0
EXERANY2    0
dtype: int64

In [28]:
df.to_csv('RQ3 Cleaned.csv', index = False)

In [26]:
# Additional mapping

# Simplifying INCOME2
mapping = {'$75,000 or more': '$75k+',
           'Less than $75,000 ($50,000 to less than $75,000)': '$50k - $75k',
           'Less than $50,000 ($35,000 to less than $50,000)': '$35k - $50k',
           'Less than $35,000 ($25,000 to less than $35,000)': '$25k - $35k',
           'Less than $25,000 ($20,000 to less than $25,000)': '$20k - $25k',
           'Less than $20,000 ($15,000 to less than $20,000)': '$15k - $20k',
           'Less than $15,000 ($10,000 to less than $15,000)': '$10k - $15k',
           'Less than $10,000': '< $10k'}
df.INCOME2 = df.INCOME2.map(mapping)

df['INCOME2'].value_counts()

$75k+          3453
$50k - $75k    1417
$35k - $50k    1090
$25k - $35k     880
$20k - $25k     746
$15k - $20k     724
< $10k          481
$10k - $15k     458
Name: INCOME2, dtype: int64