In [2]:
# Importing libraries
import pandas as pd
import numpy as np

import time

df = pd.read_csv('brfss_for_bda_2021.csv', skipinitialspace = True)

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (183,378) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
# Dropping useless columns

df.drop(df.columns.difference(['EMPLOY1','_RFCHOL']), 1, inplace=True)

In [4]:
# Breakdown of column EMPLOY1
df['EMPLOY1'].value_counts()

Employed for wages                  5094
Retired                             3393
Self-employed                       1088
Unable to work                       841
A homemaker                          686
A student                            386
Out of work for 1 year or more       345
Out of work for less than 1 year     326
Refused                              179
Name: EMPLOY1, dtype: int64

In [5]:
# Cleaning EMPLOY1
valid_set = set(["Don't know/Not sure", "Refused"])
df.loc[df.EMPLOY1.isin(valid_set), 'EMPLOY1'] = np.NaN

# Check that cleaned properly
df['EMPLOY1'].value_counts()

Employed for wages                  5094
Retired                             3393
Self-employed                       1088
Unable to work                       841
A homemaker                          686
A student                            386
Out of work for 1 year or more       345
Out of work for less than 1 year     326
Name: EMPLOY1, dtype: int64

In [6]:
# Breakdown of column _RFCHOL
df['_RFCHOL'].value_counts()

No                                        6367
Yes                                       4396
Missing                                   1487
Don't know/Not Sure Or Refused/Missing      88
Name: _RFCHOL, dtype: int64

In [7]:
# Cleaning _RFCHOL
valid_set = set(["Don't know/Not Sure Or Refused/Missing", "Missing"])
df.loc[df._RFCHOL.isin(valid_set), '_RFCHOL'] = np.NaN

# Check that cleaned properly
df['_RFCHOL'].value_counts()

No     6367
Yes    4396
Name: _RFCHOL, dtype: int64

In [8]:
# Counting null cells

df.isnull().sum()

EMPLOY1     179
_RFCHOL    1575
dtype: int64

In [9]:
df.dropna(inplace = True)

df.isnull().sum()

EMPLOY1    0
_RFCHOL    0
dtype: int64

In [10]:
df.to_csv('RQ2 Cleaned.csv', index = False)